body{
    margin: 0%;
    padding:0%;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
  display: flex;
  justify-content: center;
  background-color: rgba(30, 30, 30, 0.8); 

}
ul{
    display: flex;
    list-style: none;
    gap: 35px;
}
li{
    display: inline;
    color: white;
    font-size: 14px;
}
header{
    position: fixed;
    width: 100%;
    top: 0%;
    z-index: 999;
}
section{
    height: 800px;
    background-color: black;
    position: relative;
    overflow: hidden;
}
  
.hero{
    background-color: rgb(0, 0, 0);
    height: 800px;
    width: 100%;
    background-image: url(./images/wwdc26_2x.png);
    background-repeat: no-repeat;
    background-position: 50% 5%;
    background-size: 400px;
}
.hero-p1{
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 150px;
    font-size: 26px;
    font-weight: 400;
    width: 49%;

}
.hero-p2{
    color:rgb(110, 110, 115);;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    margin-top: 0px;

    
}
    /* 2nd img */
.hero-img{
    height: 400px;
    width: 100%;
    position:absolute;
    top: 360px;
    background-image: url(./images/hero_wwdc26_large.jpg);  
}

.main{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

    /* section 1 buttons */

.btn-box{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.btn-box > button{
    width: 190px;
    height: 44px;
    border-radius: 25px;
    font-size: 17px;
    font-weight: 400;

}
.btn-box > .btn1 {
  color: white;
  background-color:rgb(0, 113, 227);
  border: 1px solid rgb(0, 113, 227);
}
.btn-box > .btn2 {
   color:rgb(0, 113, 227);
   background-color: rgb(0, 0, 0);
   border: 1px solid rgb(0, 113, 227);
}
.btn2:hover {
    background-color: rgb(0, 113, 227);
    color: white;
}
       /* section 1 buttons end */
       
   
      /* section 2 */

.hero-2{
    /* background-color: aqua; */
    height: 575px;
    width: 100%;
    margin-top: 10px;
    background-image: url(./images/2nd-img_large.jpg);
    background-position: center;
}
.main-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 90%;
}
    
     /* section 2 buttons  */
.hero2-btn{
    width: 140px;
    height: 44px;
    border-radius: 25px;
    font-size: 17px;
    font-weight: 400; 
    color: white;
    background-color:rgb(0, 113, 227);
    border: 1px solid rgb(0, 113, 227);

}
         /* section 2 buttons end */
    
.hero2-h{
    font-size: 50px;;
    font-weight: 700;
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 0%;
    
   

}
.hero2-p1{
    color: white;
    font-size: 26px;
    font-weight: 400;
    margin-top: 10px;
    
}

        /* section 3 */

.hero-3{
    /* background-color: rgb(109, 216, 85); */
    height: 575px;
    width: 100%;
    margin-top: 10px;
    background-image: url(./images/iphone_large_2x.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
   
}
.main-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero3-h{
    font-size: 50px;;
    font-weight: 700;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    margin-bottom: 0%;
}
.hero3-p1{
    color: rgb(0, 0, 0);
    font-size: 26px;
    font-weight: 400;
    margin-top: 10px;   
}

  /* section 3 buttons  */
.btn-box-hero3{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.btn-box-hero3 > button{
    width: 190px;
    height: 44px;
    border-radius: 25px;
    font-size: 17px;
    font-weight: 400;

}
.btn-box-hero3 > .btn1 {
  color: white;
  background-color:rgb(0, 113, 227);
  border: 1px solid rgb(0, 113, 227);
}
.btn-box-hero3 > .btn2 {
   color:rgb(0, 113, 227);
   background-color: rgb(255, 255, 255);
   border: 1px solid rgb(0, 113, 227);
}
.btn2:hover {
    background-color: rgb(0, 113, 227);
    color: white;
}
         /* section 3 buttons end */

         /* section 4 */
.hero-4{
    background-color: rgb(255, 255, 255);
    height: 575px;
    width: 100%;
    margin: 10px;
    display: flex;
    gap: 10px;

}
.macbook{
    width: 50%;
    height: 100%;
    background-image: url(./images/macbook__large_2x.jpg);
    background-position: center;
    background-size: 190% 110%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}
.ipad{
    width: 50%;
    height: 100%;
    background-image: url(./images/ipad_airlarge_2x.jpg);
    background-position: center;
    background-size: 190% 110%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.ipad-logo{
    height:60px ;
    width:200px ;
    margin-top: 40px;
}

.hero4-h{
    font-size: 42px;;
    font-weight: 700;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    margin-bottom: 0%;
}
.hero4-p1{
    color: rgb(0, 0, 0);
    font-size: 22px;
    font-weight: 400;
    margin-top: 2px;   
}
.hero4-p2{
    color: rgb(0, 0, 0);
    font-size: 22px;
    font-weight: 400;
    margin-top:2px ;
}

  /* section 4 Macbook buttons  */
.btn-box-hero4{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.btn-box-hero4 > button{
    width: 110px;
    height: 40px;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 400;

}
.btn-box-hero4 > .btn1 {
  color: white;
  background-color:rgb(0, 113, 227);
  border: 1px solid rgb(0, 113, 227);
}
.btn-box-hero4 > .btn2 {
   color:rgb(0, 113, 227);
   background-color: rgb(255, 255, 255);
   border: 1px solid rgb(0, 113, 227);
   width: 60px;
}
.btn2:hover {
    background-color: rgb(0, 113, 227);
    color: white;
}
         /* section 4 Macbook buttons end */

         /* section 4 iPad buttons  */
.btn-box-hero4{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.btn-box2-hero4 > button{
    width: 110px;
    height: 40px;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 400;

}
.btn-box2-hero4 > .btn1 {
  color: white;
  background-color:rgb(0, 113, 227);
  border: 1px solid rgb(0, 113, 227);
}
.btn-box2-hero4 > .btn2 {
   color:rgb(0, 113, 227);
   background-color: rgb(255, 255, 255);
   border: 1px solid rgb(0, 113, 227);
   width: 60px;
}
.btn2:hover {
    background-color: rgb(0, 113, 227);
    color: white;
}
         /* section 4 iPad buttons end */
  
         /* section 5 */
.hero-5{
    background-color: rgb(255, 255, 255);
    height: 575px;
    width: 100%;
    margin: 10px;
    display: flex;
    gap: 10px;

}
.card{
    width: 50%;
    height: 100%;
    background-image: url(./images/apple_card_airpods___large_2x.jpg);
    background-position: center;
    background-size: 190% 110%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.trade{
    width: 50%;
    height: 100%;
    background-image: url(./images/iphone_trade_large_2x.jpg);
    background-position: center;
    background-size: 190% 110%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
